rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{userId} {
      allow create, delete: if request.auth != null;
      allow read: if true;
    }
    match /comments/{userId} {
      allow read: if true;
      allow create, delete: if request.auth != null;
    }
  }
}