@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  @apply bg-zinc-50;
}

html {
  @apply text-zinc-600;
}

button,
.btn {
  @apply text-white text-xs md:text-base inline-block px-2 py-0.5 sm:px-5 sm:py-1 bg-zinc-700 hover:bg-zinc-700/90 hover:shadow-2xl shadow transition-all duration-300;
}

button:disabled,
.btn:disabled {
  @apply opacity-60 bg-zinc-200 text-zinc-500 cursor-not-allowed;
}

.error {
  @apply text-red-400 text-sm font-medium;
}

*::selection {
  @apply bg-zinc-400 text-zinc-800;
}

input:disabled {
  cursor: disabled;
}

/* ROUTER TRANSITIONS */

.route-enter-from,
.route-leave-to {
  @apply opacity-0 translate-x-24;
}

.route-enter-active,
.route-leave-active {
  @apply transition-all duration-300 ease-out;
}
